<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto con NodeJs</title>
    <%- include('components/head.html') %>

</head>
<body>
  
    <%- include('components/navigation.html') %>

    <div class="container">
        <header class="row">
          <div class="col-lg-12 text-center">
            <img src="/img/logobanner1.png" class="animate__bounceIn" alt="Website Logo">
          </div>
        </header>
      </div>


 <!--     SECCION ONE -->

 <div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
      <div class="col-sm-6">
        <i class="fas fa-file-code fa-8x"></i>
      </div>
      <div class="col-sm-6">
        <h3>Jorge Dominguez</h3>
        <p>
          <span>Pagina WEB Creada con NodeJs- Express- BOOTSTRAP</span>
        </p>
      </div>
    </div>
  </div>

<!-- FOOTER -->

<%- include('components/footer.html') %>

 


</body>
</html>